@page "/ScheduleBuilder"
@inject NavigationManager nav

@* <button @onclick="@(()=>"> *@



<h1>Schedule Builder under construction! Come back soon!</h1>
<button @onclick="GoBack">Home</button>

@code {
    public void GoBack() 
    {
        nav.NavigateTo("/");
    }
}

<table id="coursebank">
    <tr>
        <td style="font-size: xx-large">Courses</td>
    </tr>
    <tr>
        <td>Course</td>
    </tr>
     <tr>
        <td>Course</td>
    </tr>
     <tr>
        <td>Course</td>
    </tr>

</table>

<table id="calendar">
    <th>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
    </th>
    <tr>
       <td>8am</td>
    </tr>
    <tr>
        <td>9am</td>
    </tr>
    <tr>
        <td>10am</td>
    </tr>
     <tr>
        <td>11am</td>
    </tr>
     <tr>
        <td>12pm</td>
    </tr>
     <tr>
        <td>1pm</td>
    </tr>
     <tr>
        <td>2pm</td>
    </tr>
     <tr>
        <td>3pm</td>
    </tr>
     <tr>
        <td>4pm</td>
    </tr>
     <tr>
        <td>5pm</td>
    </tr>

</table>

<style>
    h1 {
        text-align: center;
        color: blue;
    }
    table {
        font-size: xx-large;  
    }
    #calendar {
        float: right;
        margin-right: 20%;
        
    }
    #coursebank {
        display: inline-block;
        position: relative;
        font-size: x-large;
    }
    td {
        min-width: 50px;
        min-height: 50px;
    }
    table, th, td { 
        border: 1px solid gray; 
    }
</style>