@page "/signinPage"
@namespace FinalProject

<h3>Sign in</h3>
<p>Please enter your Badger ID and choose your major.</p>

<input @bind="NewID" placeholder="Student ID" />
<br />
<SfDropDownButton Content="Majors">
    <DropDownMenuItems>
        <DropDownMenuItem Text="Software Engineering"></DropDownMenuItem>
        <DropDownMenuItem Text="Music"></DropDownMenuItem>
    </DropDownMenuItems>
</SfDropDownButton>
<br />
<button @onclick="Save">Save</button>




@code {
    Student newStudent = new Student();

    private string NewID = string.Empty;

    private void Save()
    {
        if (string.IsNullOrEmpty(NewID)) return;

        newStudent.studentID = NewID;


    }
}