@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. I'm learning how to make it work. I will make it work sheeeee

<SurveyPrompt Title="How is Blazor working for you?" />
